<footer class="site-footer">
    <div class="container">
        <div class="site-footer__inner">
            <div class="site-footer__shape-1 zoom-fade-3">
                <img src="../../assets/images/shapes/site-footer-shape-1.png" alt="">
            </div>
            <div class="site-footer__top">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="footer-widget__column footer-widget__about">
                            <div class="footer-widget__logo">
                                <a href="#"><img src="../../assets/images/resources/footer-logo.png" alt=""></a>
                            </div>
                            <div class="footer-widget__about-text-box">
                                <p class="footer-widget__about-text">Trans Nation Airways save your time and
                                    give
                                    you comfort.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="footer-widget__column footer-widget__Explore">
                            <div class="footer-widget__title-box">
                                <h3 class="footer-widget__title">Explore</h3>
                            </div>
                            <ul class="footer-widget__Explore-list list-unstyled">
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/contact">Contact Us</a></li>
                                <li><a href="/service?type=private-charter">Our Services</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="footer-widget__column footer-widget__links">
                            <div class="footer-widget__title-box">
                                <h3 class="footer-widget__title">Business Hours</h3>
                            </div>
                            <ul class="footer-widget__Explore-list list-unstyled">
                                <p>Monday - Friday</p>
                                <b>08:00 am - 05:00 pm</b>
                                <p>Saturday - Sunday</p>
                                <b>Closed</b>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="footer-widget__column footer-widget__Contact">
                            <div class="footer-widget__title-box">
                                <h3 class="footer-widget__title">Contact</h3>
                            </div>
                            <ul class="footer-widget__Contact-list list-unstyled">
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-phone"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="tel:+251 113205658">+251 113205658</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                    <div class="text">
                                        <p><a href="mailto:info@tna.com.et">info&#64;tna.com.et</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="fas fa-map-marker"></span>
                                    </div>
                                    <div class="text">
                                        <p>Road to abo mekanisa Next to Queens Sara branch, Addis Ababa, Ethiopia</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__bottom-inner">
                    <div class="site-footer__bottom-left">
                        <p class="site-footer__bottom-text">© Copyright by <a href="#">Trans Nation Airways</a>, All Right Reserved.</p>
                    </div>
                    <div class="site-footer__bottom-right">
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>