<div class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">

        <app-header></app-header>
        <!--Page Header Start-->
        <section class="page-header">
            <div class="page-header-bg" style="background-image: url(../../assets/images/backgrounds/main-slider-1-1.webp)">
            </div>
            <div class="container">
                <div class="page-header__inner">
                    <h2>Contact us</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li><span>/</span></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        <!--Contact Page Start-->
        <section class="contact-page">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">contact us</span>
                    <h2 class="section-title__title">Feel free to get in touch <br> with Trans Nation Airways</h2>
                </div>
                <div class="row">
                    <!--Contact Page Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="contact-page__single">
                            <div class="contact-page__title-box">
                                <div class="contact-page__title">
                                    <span>know</span>
                                    <h3>About us</h3>
                                </div>
                                <div class="contact-page__icon">
                                    <span class="icon-flight-1"></span>
                                </div>
                            </div>
                            <p class="contact-page__text">Trans Nation Airways: Leading provider of charter, cargo, and air services.</p>
                        </div>
                    </div>
                    <!--Contact Page Single End-->
                    <!--Contact Page Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <div class="contact-page__single">
                            <div class="contact-page__title-box">
                                <div class="contact-page__title">
                                    <span>write</span>
                                    <h3>Send email</h3>
                                </div>
                                <div class="contact-page__icon">
                                    <span class="icon-envelope-back"></span>
                                </div>
                            </div>
                            <p class="contact-page__text">
                                <a href="mailto:info@tna.com.et">info&#64;tna.com.et</a>
                                <a href="mailto:transnationairways@gmail.com">transnationairways&#64;gmail.com</a>
                            </p>
                        </div>
                    </div>
                    <!--Contact Page Single End-->
                    <!--Contact Page Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <div class="contact-page__single">
                            <div class="contact-page__title-box">
                                <div class="contact-page__title">
                                    <span>book</span>
                                    <h3>Call now</h3>
                                </div>
                                <div class="contact-page__icon contact-page__icon--last">
                                    <span class="icon-call"></span>
                                </div>
                            </div>
                            <p class="contact-page__text">
                                <a href="tel:945762721">+251 945762721</a>
                                <a href="tel:+251 113205658">+251 113205658</a>
                            </p>
                        </div>
                    </div>
                    <!--Contact Page Single End-->
                    
                </div>
            </div>
        </section>
        <!--Contact Page End-->
        <!--Contact One Start-->
        <section class="contact-one">
            <div class="container">
                <div class="contact-one__form-box">
                    <form action="assets/inc/sendemail.php" class="contact-one__form contact-form-validated"
                        novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="contact-form__input-box">
                                    <input type="text" placeholder="Your name" name="name">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="contact-form__input-box">
                                    <input type="email" placeholder="Email address" name="email">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="contact-form__input-box">
                                    <input type="text" placeholder="Phone number" name="phone">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="contact-form__input-box">
                                    <input type="text" placeholder="Subject" name="subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="contact-form__input-box text-message-box">
                                    <textarea name="message" placeholder="Write message"></textarea>
                                </div>
                                <div class="contact-form__btn-box">
                                    <button type="submit" class="thm-btn contact-form__btn">Send a message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--Contact One End-->
        <!--Site Footer Start-->
        <app-footer></app-footer>
        <!--Site Footer End-->
    </div>
    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="../../assets/images/resources/logo-1.webp"
                        width="143" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@tna.com.et">info&#64;tna.com.et</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+251 113205658">+251 113205658</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
</div>