<div class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>





    <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader -->


    <div class="page-wrapper">
        
        <app-header></app-header>

        

        <!--Main Slider Start-->
        <section class="main-slider clearfix">
            <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(../../assets/images/backgrounds/main-slider-1-1.webp);"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <p class="main-slider__sub-title"><strong>19 Years of Working
                                                Experience</strong></p>
                                        <h2 class="main-slider__title">Luxury In The <br> Skies</h2>
                                        <div class="main-slider__btn-box">
                                            <a href="#book" class="thm-btn main-slider__btn">Book Now</a>
                                            <a href="/about" class="thm-btn main-slider__btn-two">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(../../assets/images/backgrounds/main-slider-1-2.webp);"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <p class="main-slider__sub-title"><strong>19 Years of Working
                                                Experience</strong></p>
                                        <h2 class="main-slider__title">Top Charter <br> In Africa</h2>
                                        <div class="main-slider__btn-box">
                                            <a href="#book" class="thm-btn main-slider__btn">Book Now</a>
                                            <a href="/about" class="thm-btn main-slider__btn-two">Read More</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="image-layer"
                            style="background-image: url(../../assets/images/backgrounds/main-slider-1-3.webp);"></div>
                        <!-- /.image-layer -->
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="main-slider__content">
                                        <p class="main-slider__sub-title"><strong>19 Years of Working
                                                Experience</strong></p>
                                        <h2 class="main-slider__title">Comfort & Safety <br> First</h2>
                                        <div class="main-slider__btn-box">
                                            <a href="#book" class="thm-btn main-slider__btn">Book Now</a>
                                            <a href="/about" class="thm-btn main-slider__btn-two">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- If we need navigation buttons -->


            </div>
        </section>
        <!--Main Slider End-->

        <!--Feature One Start-->
        <section class="feature-one">
            <div class="feature-one__shape-1 float-bob-y-2">
                <img src="../../assets/images/shapes/feature-one-shape-1.png" alt="">
                <div class="feature-one__shadow">
                    <img src="../../assets/images/shapes/feature-one-shadow.png" alt="">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!--Feature One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow Left" data-wow-delay="100ms">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-diamond-1"></span>
                            </div>
                            <h4 class="feature-one__title"><a href="/about">Luxury & Comfort</a></h4>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="200ms">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-safe-flight"></span>
                            </div>
                            <h4 class="feature-one__title"><a href="/about">Safe & Secure</a></h4>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="300ms">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-calendar"></span>
                            </div>
                            <h4 class="feature-one__title"><a href="/about">Personal Schedule</a></h4>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                    <!--Feature One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay="400ms">
                        <div class="feature-one__single">
                            <div class="feature-one__icon">
                                <span class="icon-airport-1"></span>
                            </div>
                            <h4 class="feature-one__title"><a href="/about">Many airports</a></h4>
                        </div>
                    </div>
                    <!--Feature One Single End-->
                </div>
            </div>
        </section>
        <!--Feature One End-->

        <!--About One Start-->
        <section class="about-one" style="background-image: url(../../assets/images/backgrounds/about-1-bg-1.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-one__left">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">get to know us</span>
                                <h2 class="section-title__title">We Are Leader In Charter Market</h2>
                            </div>
                            <p class="about-one__text">Trans Nation Airways was established under the former office of
                                The Chief Executive Officer of MIDROC Technology-Group on May 6, 2003, and started
                                operation in April 2004, after receiving air Operator Certificate (AOC) from the
                                Ethiopian Civil Aviation Authority.</p>
                            <ul class="list-unstyled about-one__points">
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Provide domestic and international passengers air transport services</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Provide domestic and international cargo air transport services</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Provide a passenger charter and, Air Ambulance transport services whenever it
                                            is necessary</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-tick"></span>
                                    </div>
                                    <div class="text">
                                        <p>Engage in activities of leasing, renting and purchasing of airplanes and
                                            forming partnership with other airlines</p>
                                    </div>
                                </li>

                            </ul>
                            <div class="about-one__btn-call">
                                <div class="about-one__btn-box">
                                    <a href="#book" class="thm-btn about-one__btn">Book Now</a>
                                </div>
                                <div class="about-one__call">
                                    <div class="about-one__call-icon">
                                        <span class="icon-telephone"></span>
                                    </div>
                                    <div class="about-one__call-content">
                                        <span class="about-one__call-sub-title">Call Anytime</span>
                                        <p class="about-one__call-number"><a href="tel:+251 113205658">+251
                                                113205658</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="about-one__right">
                            <div class="about-one__img-box wow slideInRight" data-wow-delay="100ms"
                                data-wow-duration="2500ms">
                                <div class="about-one__img">
                                    <img src="../../assets/images/resources/about-1.jpg" alt="">
                                </div>
                                <div class="about-one__satisfied">
                                    <div class="about-one__satisfied-icon">
                                        <span class="icon-recommend"></span>
                                    </div>
                                    <div class="about-one__satisfied-content count-box">
                                        <h3 class="count-text" data-stop="19" data-speed="500">00</h3>
                                        <p>Years Of Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About One End-->

        <!--Feature Two Start-->
        
        <!--Feature Two End-->

        <!--Get Flight Start-->
        <section class="get-flight">
            <div class="get-flight-img">
                <img src="../../assets/images/resources/get-flight-img-1.png" alt="">
            </div>
            <div class="get-flight__shape-1 float-bob-x">
                <img src="../../assets/images/shapes/get-flight-shape-1.png" alt="">
            </div>
            <div class="get-flight__shape-2 float-bob-x">
                <img src="../../assets/images/shapes/get-flight-shape-2.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-8" id="book">
                        <div class="get-flight__content-box">
                            <div class="section-title text-left">
                                <span class="section-title__tagline">Get your flight</span>
                                <h2 class="section-title__title">Request for private flight</h2>
                            </div>
                            <form action="../../assets/inc/sendemail.php"
                                class="get-flight__form contact-form-validated" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <input type="text" placeholder="Fly from">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <input type="text" placeholder="Fly to">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <input type="text" name="date" placeholder="Select date" id="datepicker">
                                            <div class="get-flight__icon-box">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="get-flight__form-input-box">
                                                    <input type="text" name="time" placeholder="Select time">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6">
                                                <div class="get-flight__form-input-box">
                                                    <div class="select-box">
                                                        <select class="wide">
                                                            <option data-display="Select country">Passengers</option>
                                                            <option value="1">Passengers 01</option>
                                                            <option value="2">Passengers 02</option>
                                                            <option value="3">Passengers 03</option>
                                                            <option value="4">Passengers 04</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <div class="select-box">
                                                <select class="wide">
                                                    <option data-display="Select country">Select baggage</option>
                                                    <option value="1">Select baggage 01</option>
                                                    <option value="2">Select baggage 02</option>
                                                    <option value="3">Select baggage 03</option>
                                                    <option value="4">Select baggage 04</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6">
                                        <div class="get-flight__form-input-box">
                                            <button type="submit" class="thm-btn get-flight__btn">Book Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="get-flight__content-text"> <span>*</span> After sending request. We’ll contact you
                                for more details about charter.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Get Flight End-->

        <!--Services One Start-->
        <section class="services-one">
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">what we’re offering</span>
                    <h2 class="section-title__title">We Provide Best <br> Services In</h2>
                </div>
                <div class="row">
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img src="../../assets/images/services/private_carter.webp" alt="">
                            </div>
                            <div class="services-one__content">
                                <div class="services-one__title-box">
                                    <span class="services-one__sub-title">Flight For</span>
                                    <h3 class="services-one__title"><a href="/service?type=private-charter">Private charter</a>
                                    </h3>
                                </div>
                                <p class="services-one__text">Charter Service Built On Quality And Reliability.</p>
                                <div class="services-one__arrow">
                                    <a href="/service?type=private-charter"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img src="../../assets/images/services/tourist-travel.webp" alt="">
                            </div>
                            <div class="services-one__content">
                                <div class="services-one__title-box">
                                    <span class="services-one__sub-title">Flight For</span>
                                    <h3 class="services-one__title"><a href="/service?type=tourist-travel">Tourist Travel</a>
                                    </h3>
                                </div>
                                <p class="services-one__text">Luxury Travel Made Flexible, Private, And Stress-free.</p>
                                <div class="services-one__arrow">
                                    <a href="/service?type=tourist-travel"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img src="../../assets/images/services/air ambulance.webp" alt="">
                            </div>
                            <div class="services-one__content">
                                <div class="services-one__title-box">
                                    <span class="services-one__sub-title">Flight For</span>
                                    <h3 class="services-one__title"><a href="service?type=air-ambulance">Air Ambulance</a></h3>
                                </div>
                                <p class="services-one__text">Reliable Air Ambulance For Urgent Medical Transport.</p>
                                <div class="services-one__arrow">
                                    <a href="service?type=air-ambulance"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                    <!--Services One Single Start-->
                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <div class="services-one__single">
                            <div class="services-one__img">
                                <img src="../../assets/images/services/cargo.webp" alt="">
                            </div>
                            <div class="services-one__content">
                                <div class="services-one__title-box">
                                    <span class="services-one__sub-title">Flight For</span>
                                    <h3 class="services-one__title"><a href="service?type=cargo">Cargo</a></h3>
                                </div>
                                <p class="services-one__text">Seamless Logistics, From Sky To Destination.</p>
                                <div class="services-one__arrow">
                                    <a href="service?type=cargo"><i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Services One Single End-->
                </div>
            </div>
        </section>
        <!--Services One End-->

        <!--Counter One Start-->
        <section class="counter-one">
            <div class="container">
                <ul class="counter-one__box list-unstyled">
                    <li class="counter-one__single wow fadeInUp" data-wow-delay="100ms">
                        <div class="counter-one__icon">
                            <i class="icon-pilot-1"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box">
                            <h3 class="count-text" data-stop="23" data-speed="1500">00</h3>
                            <p class="counter-one__text">Team Members</p>
                        </div>
                    </li>
                    <li class="counter-one__single wow fadeInUp" data-wow-delay="200ms">
                        <div class="counter-one__icon">
                            <i class="icon-globe"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box">
                            <h3 class="count-text" data-stop="101" data-speed="1500">00</h3>
                            <p class="counter-one__text">Happy Clients</p>
                        </div>
                    </li>
                    <li class="counter-one__single wow fadeInUp" data-wow-delay="300ms">
                        <div class="counter-one__icon">
                            <i class="icon-direct-flight"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box">
                            <h3 class="count-text" data-stop="138" data-speed="1500">00</h3>
                            <p class="counter-one__text">Directions</p>
                        </div>
                    </li>
                    <li class="counter-one__single wow fadeInUp" data-wow-delay="400ms">
                        <div class="counter-one__icon">
                            <i class="icon-diamond"></i>
                            <div class="counter-one__shape"></div>
                        </div>
                        <div class="counter-one__content count-box">
                            <h3 class="count-text" data-stop="19" data-speed="1500">00</h3>
                            <p class="counter-one__text">Years Of Experience</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--Counter One End-->

        <!--Testimonial One Start-->
        <section class="testimonial-one">
            <div class="testimonial-one__shape-1 zoom-fade-2">
                <img src="../../assets/images/shapes/testimonial-shape-1.png" alt="">
            </div>
            <div class="testimonial-one__shape-2 float-bob-x">
                <img src="../../assets/images/shapes/testimonial-shape-2.png" alt="">
            </div>
            <div class="testimonial-one__shape-3 float-bob-x">
                <img src="../../assets/images/shapes/testimonial-shape-3.png" alt="">
            </div>
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">customers feedback</span>
                    <h2 class="section-title__title">What they’re talking about <br> our flight services</h2>
                </div>
                <div class="testimonial-one__bottom">
                    <div class="testimonial-one__shape-4"
                        style="background-image: url(../../assets/images/shapes/testimonial-shape-4.png);"></div>
                    <div class="testimonial-one__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                        "loop": true,
                        "autoplay": true,
                        "margin": 30,
                        "nav": false,
                        "dots": false,
                        "smartSpeed": 500,
                        "autoplayTimeout": 10000,
                        "navText": ["<span class=\"icon-left-arrow\"></span>","<span class=\"icon-right-arrow1\"></span>"],
                        "responsive": {
                            "0": {
                                "items": 1
                            },
                            "768": {
                                "items": 1
                            },
                            "992": {
                                "items": 2
                            },
                            "1200": {
                                "items": 2
                            }
                        }
                    }'>
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="../../assets/images/testimonial/testimonial-3.webp" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">Trans Nation Airways' mission is as
                                        straightforward as it is ambitious: to make flying safer and more affordable. I
                                        advise anyone wishing to save time and money while guaranteeing that self-audits
                                        and approvals are always up to date to use it.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Sullivan Gibbs</h4>
                                                <p>Customer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="../../assets/images/testimonial/testimonial-1.webp" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">TNA has been a dependable supplier and
                                        customer for many years, and we help them with their charter flights and provide
                                        them with services at our locations. We have been collaborating since 2015.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Catering Company</h4>
                                                <p>Client</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->
                        <div class="item">
                            <div class="testimonial-one__single">
                                <div class="testimonial-one__client-img-box">
                                    <div class="testimonial-one__img">
                                        <img src="../../assets/images/testimonial/testimonial-2.webp" alt="">
                                        <div class="testimonial-one__icon-box">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-one__content">
                                    <p class="testimonial-one__content-text">The trip was fantastic, and everything went
                                        off without a hitch. We arrived at our destinations on time for every flight,
                                        give or take 15 minutes. I appreciate the itinerary being put together by your
                                        staff. <br>Thanks again for a job well done.</p>
                                    <div class="testimonial-one__rating">
                                        <div class="testimonial-one__rating-icon">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="testimonial-one__user">
                                            <div class="testimonial-one__user-name">
                                                <h4>Tourist</h4>
                                                <p>Client</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Testimonial One Single End-->
                        <!--Testimonial One Single Start-->

                        <!--Testimonial One Single End-->
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonial One End-->

        <!--Special Offer One Start-->
        <section class="special-offer-one">
            <div class="special-offer-one__wrap">
                <div class="special-offer-one__left">
                    <div class="special-offer-one__shape-1"
                        style="background-image: url(../../assets/images/shapes/special-offer-one-shape-1.png);"></div>
                    <div class="special-offer-one__shape-2 float-bob-x">
                        <img src="../../assets/images/shapes/special-offer-one-shape-2.png" alt="">
                    </div>
                    <div class="special-offer-one__content">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">
                                Why Choose Us?</span>
                            <h2 class="section-title__title">A Few Reasons <br> Why People Choose Us </h2>
                        </div>
                        <p class="special-offer-one__left-text">Experienced pilots, reliable and cost-effective charter
                            services, and 24/7 customer support — all delivered with a commitment to excellence,
                            ensuring your journey is seamless, safe, and personalized from start to finish.</p>
                        <a href="/about" class="thm-btn special-offer__btn">Discover more</a>
                    </div>
                </div>
                <div class="special-offer-one__right">
                    <div class="special-offer-one__bg"
                        style="background-image: url(../../assets/images/backgrounds/why\ choose\ us.jpg);"></div>
                    <div class="special-offer-one__toggle">
                        <p>Trips <br> & tours</p>
                    </div>
                </div>
            </div>
        </section>
        <!--Special Offer One End-->

        <!--Price One Start-->
        
        <!--Price One End-->

        <!--Destination One Start-->
        <section class="destination-one">
            <div class="destination-one__shape-1"
                style="background-image: url(../../assets/images/shapes/destination-one-shape-1.png);"></div>
            <div class="container">
                <div class="section-title text-center">
                    <span class="section-title__tagline">What will you get</span>
                    <h2 class="section-title__title">Checkout the popular
                        <br> charter destinations</h2>
                </div>
                <div class="row">
                    <!--Destination One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <div class="destination-one__single">
                            <div class="destination-one__img-box">
                                <div class="destination-one__img">
                                    <img src="../../assets/images/resources/destination-1-1.webp" alt="">
                                </div>
                                <div class="destination-one__content">
                                    <h3 class="destination-one__title"><a href="javascript:void(0)" role="link" aria-disabled="true" class="disabled-link">Paris</a>
                                    </h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Destination One Single End-->
                    <!--Destination One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                        <div class="destination-one__single">
                            <div class="destination-one__img-box">
                                <div class="destination-one__img">
                                    <img src="../../assets/images/resources/destination-1-2.webp" alt="">
                                </div>
                                <div class="destination-one__content">
                                    <h3 class="destination-one__title"><a href="javascript:void(0)" role="link" aria-disabled="true" class="disabled-link">Hamburg</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Destination One Single End-->
                    <!--Destination One Single Start-->
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                        <div class="destination-one__single">
                            <div class="destination-one__img-box">
                                <div class="destination-one__img">
                                    <img src="../../assets/images/resources/destination-1-3.webp" alt="">
                                </div>
                                <div class="destination-one__content">
                                    <h3 class="destination-one__title"><a href="javascript:void(0)" role="link" aria-disabled="true" class="disabled-link">London</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Destination One Single End-->
                </div>
            </div>
        </section>
        <!--Destination One End-->

        <!--Brand One Start-->
        <section class="brand-one">
            <div class="container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100,
                "slidesPerView": 5,
                "loop": true,
                "navigation": {
                    "nextEl": "#brand-one__swiper-button-next",
                    "prevEl": "#brand-one__swiper-button-prev"
                },
                "autoplay": { "delay": 5000 },
                "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-2.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-3.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-4.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-5.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-1.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-2.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-3.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-4.png" alt="">
                        </div><!-- /.swiper-slide -->
                        <div class="swiper-slide">
                            <img src="../../assets/images/brand/brand-1-5.png" alt="">
                        </div><!-- /.swiper-slide -->
                    </div>
                </div>
            </div>
        </section>
        <!--Brand One End-->

        <!--Blog One Start-->
        
        <!--Blog One End-->

        <!--Newsletter One Start-->
        
        <!--Newsletter One End-->

        <!--Site Footer Start-->
        <app-footer></app-footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a href="/" aria-label="logo image"><img src="../../assets/images/resources/logo-1.webp"
                        width="143" alt="" /></a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:info@tna.com.et">info&#64;tna.com.et</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:+251 113205658">+251 113205658</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    

    



</div>